[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tornado = "*"
"jinja2" = "*"
peewee = "*"
queries = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
python-crontab = "*"

[dev-packages]
